.header {
  grid-area: header;
}

.menu {
  padding: 20px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.5);

  @include media('>=tablet') {
    display: block;
    position: relative;
    transform: translateX(0%) !important;
    background: transparent;
  }

  &__open,
  &__close {
    @include media('>=tablet') {
      display: none;
    }
  }

  &__close {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 1;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 0;
    padding: 0;

    @include media('>=tablet') {
      grid-template-columns: repeat(4, auto) 1fr;
    }
  }

  &__item {
    a {
      text-decoration: none;
      color: $body-color;
    }
  }
}

.profile {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'picture'
    'description'
    'email'
    'social';
  align-items: center;
  justify-items: center;

  @include media('>=tablet') {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'email picture social'
      'description description description';
  }

  &__description {
    grid-area: description;
    text-align: center;
  }

  &__email {
    grid-area: email;
  }

  &__picture {
    grid-area: picture;
    max-width: 200px;
    height: 200px;

    img {
      width: 100%;
      height: auto;
      border-radius: 100%;
    }
  }

  &__social {
    grid-area: social;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 0 10px;
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
}
