body {
  background: $body-bg;
  color: $body-color;
}

.wrapper {
  display: grid;
  grid-template-areas:
    'header'
    'section'
    'footer';
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

.footer {
  grid-area: footer;
}
