body {
  background: $body-bg;
  color: $body-color;
}

.wrapper {
  display: grid;
  grid-template-areas:
    'header'
    'section'
    'footer';
  padding: 20px;
}

.footer {
  grid-area: footer;
}
