@import 'sections/about';
@import 'sections/skill';
@import 'sections/experience';
@import 'sections/education';
@import 'sections/achievement';
@import 'sections/hobby';

.section {
  display: grid;
  grid-area: section;
  grid-template-areas:
    'about'
    'skills'
    'experience'
    'education'
    'achievements'
    'hobbies';

  // > div:nth-child(odd) {
  //   background: #f44336;
  // }

  // > div:nth-child(even) {
  //   background: #424242;
  // }

  &__title {
    color: $body-color;
    text-align: center;
    margin: 50px 0;
  }

  &__about {
    grid-area: about;
  }

  &__skills {
    grid-area: skills;
  }

  &__experience {
    grid-area: experience;
  }

  &__education {
    grid-area: education;
  }

  &__achievements {
    grid-area: achievements;
  }

  &__hobbies {
    grid-area: hobbies;
  }
}

.about,
.skill {
  color: $section-color;
  background: $section-bg;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  padding: 20px;
  margin: 0;
}

.timeline {
  display: grid;
  grid-template-columns: 1fr;
  list-style-type: none;
  padding: 0;
  margin: 0;

  @include media('>=tablet') {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      '. placeholder'
      'left .'
      'left right'
      '. right';
  }

  &__placeholder {
    @include media('>=tablet') {
      grid-area: placeholder;
    }
  }

  &__item {
    padding: 0 20px 20px;
    position: relative;

    @include media('>=tablet') {
      align-self: end;
    }

    &:before {
      content: '';
      display: block;
      background: $red;
      border-radius: 2px;
      width: 10px;
      height: 10px;
      position: absolute;
      top: -5px;
      left: -6px;
    }

    &:nth-child(odd) {
      border-left: 2px solid $black;
      margin-left: -2px;

      @include media('>=tablet') {
        grid-row: span 2;
        border-left: 0;
        margin-left: 0;
        border-right: 2px solid $black;
      }

      &:before {

        @include media('>=tablet') {
          left: initial;
          right: -6px;
        }
      }

      .timeline__content {

        &:after {
          left: -10px;
          border-color: $section-bg transparent transparent;

          @include media('>=tablet') {
            left: initial;
            right: -10px;
          }
        }
      }
    }

    &:nth-child(even) {
      border-left: 2px solid $black;
      margin-left: -2px;

      @include media('>=tablet') {
        grid-row: span 2;
      }

      .timeline__content {

        &:after {
          left: -10px;
          border-color: $section-bg transparent transparent;
        }
      }
    }

    &:first-child {
      @include media('>=tablet') {
        grid-area: left;
      }
    }

    &:nth-last-child(2) {
      padding-bottom: 0;
    }

    &:nth-child(2) {
      @include media('>=tablet') {
        grid-area: right;
      }
    }
  }

  &__content {
    background: $section-bg;
    color: $section-color;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    padding: 20px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      border: 20px solid;
    }
  }
}
