/////////////////
// FONT-FAMILY //
/////////////////

///////////////
// FONT-SIZE //
///////////////

////////////
// COLORS //
////////////
$black : #212121 !default;
$white : #ffffff !default;

$gray-dark  : #424242 !default;
$gray       : #616161 !default;
$gray-light : #F5F5F5 !default;

// $color-primary : !default;
$red          : #ef5350 !default;

$body-color   : $black !default;
$section-color: $gray-light !default;

/////////////////
// BACKGROUNDS //
/////////////////
$section-bg : $gray-dark !default;
$body-bg    : $gray-light !default;
$box-shadow : 0px 2px 10px 0px rgba(33, 33, 33, 0.3) !default;

$border-radius: 3px !default;

//////////////
// SECTIONS //
//////////////
// skill
$bar-foreground: $gray-light !default;
$bar-background: $gray !default;

// gradients
// .gradients {
//   background: #C33764;
//   background: -webkit-linear-gradient(to left, #1D2671, #C33764);
//   background: linear-gradient(to left, #1D2671, #C33764);

//   background: #DA4453;
//   background: -webkit-linear-gradient(to left, #89216B, #DA4453);
//   background: linear-gradient(to left, #89216B, #DA4453);
// }
