.wrapper {
  display: grid;
  grid-template-areas:
    'header'
    'section'
    'footer';
}

.header {
  grid-area: header;
}

.menu {
  padding: 10px;

  &__list {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin: 0;
    padding: 0;

    @media(min-width: 768px) {
      grid-template-columns: repeat(4, auto) 1fr;
    }
  }

  &__item {
    a {
      text-decoration: none;
      color: #000;
    }
  }
}

.profile {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  grid-template-areas:
    'picture'
    'description'
    'email'
    'social';
  align-items: center;
  justify-items: center;

  @media(min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      'email picture social'
      'description description description';
  }

  &__description {
    grid-area: description;
    text-align: center;
    // align-items: center;
    // justify-items: center;
  }

  &__email {
    grid-area: email;
  }

  &__picture {
    grid-area: picture;
    max-width: 200px;

    img {
      width: 100%;
      height: auto;
      border-radius: 100%;
    }
  }

  &__social {
    grid-area: social;
  }
}

.section {
  display: grid;
  grid-area: section;
  grid-template-areas:
    'about'
    'skills'
    'experience'
    'education'
    'achievements'
    'hobbies';

  div:nth-child(odd) {
    background: rgba(0, 0, 0, 0.1);
  }

  div:nth-child(even) {
    background: rgba(0, 0, 0, 0.2);
  }

  &__about {
    // background: rgba(0, 0, 0, 0.1);
    grid-area: about;
  }

  &__skills {
    // background: rgba(0, 0, 0, 0.2);
    grid-area: skills;
  }

  &__experience {
    // background: rgba(0, 0, 0, 0.1);
    grid-area: experience;
  }

  &__education {
    // background: rgba(0, 0, 0, 0.2);
    grid-area: education;
  }

  &__achievements {
    // background: rgba(0, 0, 0, 0.1);
    grid-area: achievements;
  }

  &__hobbies {
    // background: rgba(0, 0, 0, 0.2);
    grid-area: hobbies;
  }
}

.skill {
  padding: 0;
  margin: 0;

  &__item {
    display: grid;
    grid-template-rows: auto auto;

    &:after {
      content: '';
      background: rgb(24, 143, 212);
      display: block;
      grid-row: 2 / -1;
      grid-column: 1 / -1;
      height: 10px;
      border-radius: 5px;
    }
  }

  &__percentage {
    background: rgb(0, 104, 165);
    grid-row: 2 / -1;
    grid-column: 1 / -1;
    height: 10px;
    border-radius: 5px;
    z-index: 1;
  }
}

.footer {
  grid-area: footer;
}
